{% extends "proveedores/base.html" %}

{% block title %}Lista de productos{% endblock %}

{% block content %}
<h1>Productos</h1>
{% if products %}
    <ul>
        {% for product in products %}
            <li>
                <a href="{% url 'proveedores:product_detail' product.id %}">{{ product.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No hay productos</p>
{% endif %}
<a href="{% url 'proveedores:product_new' %}" class="crear btn-success">Agregar un nuevo producto</a>
{% endblock %}