<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del producto</title>
</head>
<body>
    <h1>{{ product.name }}</h1>
    <p>Precio: ${{ product.price }}</p>
    <p>{{ product.description }}</p>
    <a href="{% url 'proveedores:product_update' product.id %}" class="editar">Editar</a>
    <a href="{% url 'proveedores:product_delete' product.id %}" class="editar">Eliminar</a>
    <a href="{% url 'proveedores:product_list' %}" class="regresar">Volver a la lista de productos</a>
</body>
</html>