<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    {% load static %}
    <link href="{% static 'proveedores/profile.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2>Perfil de {{ user.username }}</h2>
        <p>Email: {{ user.email }}</p>
        <a href="{% url 'proveedores:user_update' %}">Editar perfil</a>
        <a href="{% url 'proveedores:logout' %}">Cerrar sesión</a>
    </div>
</body>
</html>