<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar perfil</title>
    {% load static %}
    <link href="{% static 'proveedores/user_update.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2>Editar perfil</h2>
        <form method="post">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ password_form.as_p }}
            <button type="submit">Guardar cambios</button>
        </form>
        <a href="{% url 'proveedores:profile' %}">Cancelar</a>
    </div>
</body>
</html>